*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background-color: lightblue;
    width: 100vw;
    height: 100vh;
}

.addBox{
    width: 80%;
    margin: 50px auto;
}

.todo{
    padding: 10px 5px;
    font-size: 15px;
    width: 70%;
    outline: none;
    border: none;
}
.btn{
    outline: none;
    border: none;
    width: 28%;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.dlt{
    background-color: red;
    color: #fff;
}
.btn.btn:active{
    transform: scale(0.98);
}

table{
    background-color: #fff;
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

th{
    background-color: steelblue;
    color: #fff;
}
th, td{
    padding: 8px;
}
tr:nth-last-child(even){
    background-color: rgb(241, 241, 241);
}
